// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include <dt-bindings/input/input.h>
#include "s5p6818.dtsi"

/ {
	model = "Nexell S5P6818 x6818 board (AArch64)";
	compatible = "nexell,x6818", "nexell,s5p6818";

	aliases {
		ethernet0 = &gmac;
		mmc0 = &mmc2;
		mmc1 = &mmc0;
		mmc2 = &mmc1;
		serial0 = &uart0;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
	};

	chosen {
		stdout-path = "serial0:115200n8";

		/* U-Boot initializes the MIPI pipeline and scans out from this FB. */
		framebuffer0: framebuffer {
			compatible = "simple-framebuffer";
			memory-region = <&x6818_framebuffer>;
			width = <1024>;
			height = <600>;
			stride = <4096>;
			format = "x8r8g8b8";
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <50>;
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&key_pins>;

		button-power {
			label = "Power";
			gpios = <&alive 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
		};

		button-volup {
			label = "Volume Up";
			gpios = <&gpiob 30 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
		};

		button-voldn {
			label = "Volume Down";
			gpios = <&gpiob 31 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
		};

		button-menu {
			label = "Menu";
			gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MENU>;
		};

		button-back {
			label = "Back";
			gpios = <&gpioa 28 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACK>;
		};
	};

	gpio_leds: leds {
		compatible = "gpio-leds";

		led0 {
			label = "x6818:blue:user";
			gpios = <&gpioc 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};

	vcc2v8_cam: regulator-vcc2v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v8_cam";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		regulator-always-on;
	};

	vcc1v8_cam: regulator-vcc1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_cam";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vcc1v5_cam: regulator-vcc1v5 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v5_cam";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
	};

	i2c_pmic: i2c-pmic {
		compatible = "i2c-gpio";
		sda-gpios = <&gpioc 16 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpioc 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <5>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		axp228: pmic@34 {
			compatible = "x-powers,axp221";
			reg = <0x34>;

			regulators {
				vcam1_1v8: dldo2 {
					regulator-name = "vcam1_1.8V";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		};
	};

	cam_xclk: cam-xclk {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
		clock-output-names = "cam_xclk";
		pwms = <&pwm 1 42 0>;
	};

	/*
	 * The S5P6818 hardware I2C controllers do not start transfers in
	 * the current platform state (registers alive only after an RSTCON
	 * pulse; START never toggles SCL), so the camera bus runs bit-banged
	 * on the same I2C0 pins, matching the vendor bootloader which also
	 * services its PMIC over i2c-gpio.
	 */
	i2c_cam: i2c-cam {
		compatible = "i2c-gpio";
		sda-gpios = <&gpiod 3 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpiod 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		ov5645: camera@3c {
			compatible = "ovti,ov5645";
			reg = <0x3c>;
			pinctrl-names = "default";
			pinctrl-0 = <&cam_pins>;
			clocks = <&cam_xclk>;
			clock-names = "xclk";
			clock-frequency = <24000000>;
			reset-gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
			enable-gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
			vdddo-supply = <&vcam1_1v8>;
			vdda-supply = <&vcc2v8_cam>;
			vddd-supply = <&vcc1v5_cam>;
			status = "okay";

			port {
				ov5645_to_mipi: endpoint {
					data-lanes = <1 2>;
					clock-noncontinuous;
					link-frequencies = /bits/ 64 <210000000>;
				};
			};
		};
	};

	beeper: beeper {
		compatible = "gpio-beeper";
		gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
	};

	ir_receiver: ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpiod 8 GPIO_ACTIVE_LOW>;
		linux,rc-map-name = "rc-rc6-mce";
		status = "disabled";
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		x6818_framebuffer: framebuffer@46000000 {
			reg = <0x0 0x46000000 0x0 0x01000000>;
			no-map;
		};

		secure_firmware: firmware@7e000000 {
			reg = <0x0 0x7e000000 0x0 0x02000000>;
			no-map;
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x3e000000>;
	};
};

&display {
	status = "disabled";
};

&ehci {
	status = "okay";
};

&gmac {
	max-speed = <1000>;
	phy-handle = <&gmac_phy>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_rgmii_pins &gmac_phy_reset>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		gmac_phy: ethernet-phy@4 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <4>;
			reset-assert-us = <100>;
			reset-gpios = <&gpioe 22 GPIO_ACTIVE_LOW>;
		};
	};
};

&mmc0 {
	cd-gpios = <&alive 1 GPIO_ACTIVE_LOW>;
	cd-debounce-delay-ms = <100>;
	cap-sd-highspeed;
	disable-wp;
	status = "okay";
};

&mmc1 {
	cd-gpios = <&gpiob 25 GPIO_ACTIVE_LOW>;
	cd-debounce-delay-ms = <100>;
	cap-sd-highspeed;
	disable-wp;
	status = "okay";
};

&mmc2 {
	status = "okay";
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";
};

&pwm {
	status = "okay";
};

&i2c1 {
	clock-frequency = <200000>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
	status = "okay";
};

&ohci {
	status = "okay";
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <&dp_rgb_pins>;

	dp_rgb_pins: dp-rgb-pins {
		nexell,pins = "gpioa-0", "gpioa-1", "gpioa-2", "gpioa-3",
			       "gpioa-4", "gpioa-5", "gpioa-6", "gpioa-7",
			       "gpioa-8", "gpioa-9", "gpioa-10", "gpioa-11",
			       "gpioa-12", "gpioa-13", "gpioa-14", "gpioa-15",
			       "gpioa-16", "gpioa-17", "gpioa-18", "gpioa-19",
			       "gpioa-20", "gpioa-21", "gpioa-22", "gpioa-23",
			       "gpioa-24", "gpioa-25", "gpioa-26", "gpioa-27";
		nexell,pin-function = <1>;
		nexell,pin-pull = <0>;
		nexell,pin-strength = <2>;
	};

	gmac_rgmii_pins: gmac-rgmii-pins {
		nexell,pins = "gpioe-7", "gpioe-8", "gpioe-9", "gpioe-10",
			       "gpioe-11", "gpioe-14", "gpioe-15", "gpioe-16",
			       "gpioe-17", "gpioe-18", "gpioe-19", "gpioe-20",
			       "gpioe-21", "gpioe-24";
		nexell,pin-function = <1>;
		nexell,pin-pull = <2>;
		nexell,pin-strength = <3>;
	};

	gmac_phy_reset: gmac-phy-reset-pins {
		nexell,pins = "gpioe-22";
		nexell,pin-function = <0>;
		nexell,pin-pull = <2>;
		nexell,pin-strength = <3>;
	};

	cam_pins: cam-pins {
		nexell,pins = "gpioc-4", "gpioc-5";
		nexell,pin-function = <0>;
		nexell,pin-pull = <0>;
		nexell,pin-strength = <0>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;
	status = "okay";
};
