# SPDX-License-Identifier: GPL-2.0-only

config ARCH_NEXELL
	bool "Nexell S5P6818 SoC support"
	depends on ARCH_MULTI_V7
	select ARM_AMBA
	select ARM_GIC
	select ARM_CCI400_COMMON
	select COMMON_CLK
	select GENERIC_CLOCKEVENTS
	select HAVE_SMP
	select OF
	select PINCTRL
	select RESET_CONTROLLER
	select SOC_NEXELL_S5P6818
	help
	  Support for the Nexell S5P6818 ARM Cortex-A53 SoC.
