# SPDX-License-Identifier: GPL-2.0-only

config PINCTRL_NEXELL
	bool "Nexell S5P6818 pinctrl and GPIO driver"
	depends on SOC_NEXELL_S5P6818
	depends on OF
	select PINMUX
	select PINCONF
	select GENERIC_PINCONF
	select GENERIC_PINCTRL_GROUPS
	select GENERIC_PINMUX_FUNCTIONS
	select GPIOLIB
	select GPIOLIB_IRQCHIP
	default y
	help
	  Enable pin multiplexing, pin configuration, and GPIO support for
	  the Nexell S5P6818 GPIO banks.
